.warning {
	color: red;
}
#panel { 
	position:fixed; 
	top:0px; 
	right:0px; 
	margin-top:20px; 
	background-color:rgba(200,200,200,.8); 
}
#panelToggle { 
	position:fixed; 
	top:0px; 
	right:0px; 
	margin-top:5px; 
	background-color:rgba(200,200,200,.8); 
}
#selectedInfo {
	margin-left:10px;
}

#libraries {
	width: 600px;
}

#consoleInput {
	width:300px;
	height:23px;
}
